<!DOCTYPE html>
<html>
 <head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
 </head>
 <body>
  <h1><%= title %></h1>
  <p>Edit Data</p>
  <form action='/pegawai/update/<%= pegawai._id %>' method='post' role='form'>
  <div class='form-group'>
   <label for='exampleInputEmail'>Nama</label>
   <input type='text' name='nama' class='form-control' id='' placeholder='Enter Name' value='<%= pegawai.nama %>' required>
  </div>
  <div class='form-group'>
   <label for='exampleInputEmail'>Email</label>
   <input type='text' name='email' class='form-control' id='' placeholder='Enter Email' value='<%= pegawai.email %>' required>
  </div>
  <div class='form-group'>
   <label for='exampleInputEmail'>Umur</label>
   <input type='text' name='umur' class='form-control' id='' placeholder='Enter Umur' value='<%= pegawai.umur%>' required>
  </div>
  <div class='form-group'>
   <label for='exampleInputEmail'>Kecamatan</label>
   <select type='text' name='id_kec' class='form-control' required>
    <option value='<%= x._id %>' selected><%= x.nama %></option>
    <% for(var i=0; i < kecamatan.length; i++){ %>
    <option value='<%= kecamatan[i]._id %>'><%= kecamatan[i].nama %></option>
    <% } %>
   </select>
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
 </body>
 <script src='/bootstrap/js/bootstrap.min.js'></script>
</html>